PORT=3002
DATABASE_URL=postgresql://products_app:products_local_password@postgres:5432/products_db?schema=public
SHADOW_DATABASE_URL=postgresql://products_app:products_local_password@postgres:5432/products_shadow_db?schema=public
