PORT=3003
DATABASE_URL=postgresql://reviews_app:reviews_local_password@postgres:5432/reviews_db?schema=public
SHADOW_DATABASE_URL=postgresql://reviews_app:reviews_local_password@postgres:5432/reviews_shadow_db?schema=public
